<div class="quiz-container">
  <%= form_tag submit_quizzes_path, class: "quiz-form", method: :post do %>
    <% @questions.each_with_index do |q, index| %>
    <div class = "ind-q">
      <p><%= q[:question] %></p>
    </div>
      <div class = "answers">
        <% q[:answers].each do |key, value| %>
          <div class = "ind-a">
            <label class="btn radio-btn-box-centered" >
              <%= radio_button_tag "answers[#{index}]", value %>
              <span><%= "#{key}" %></span>
            </label>
          </div>
        <% end %>
      </div>
      <br>
    <% end %>
    <%= submit_tag "Submit", class: "btn-submit" %>
  <% end %>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const labels = document.querySelectorAll('.ind-a label');

    labels.forEach(label => {
      label.addEventListener('click', function() {
        // Remove 'active' class from all labels
        labels.forEach(otherLabel => {
          if (otherLabel !== label) {
            otherLabel.classList.remove('active');
          }
        });

        // Add 'active' class to the clicked label
        label.classList.add('active');
      });
    });
  });
</script>
