<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="dash-nav sidebar">
      <div class="text-center black-text">
        <%= image_tag("https://kitt.lewagon.com/placeholder/users/jule-tech", alt: "Profile Picture", class: "profile-img") %>
        <h4><br><%= @current_user.profile.first_name %></h4>
        <p>Email: <%= current_user.email %></p>
      </div>
      <hr>
      <ul class="list-unstyled">
        <li><%= link_to "Quiz", quizzes_path %></li>
        <li><%= link_to "Settings", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %></li>
      </ul>
    </div>
    <div class="col-md-9 main-dash"> <!-- Adjusted column width -->
      <h2>Main Content Area</h2>
      <p>This is the main content area where you can display different sections of your dashboard.</p>
    </div>
  </div>
</div>
