
<div class= "background">
<h1 class="container text-center"> <%= @profile.first_name %>`s profile</h1>
<div class="card text-center m-4">
  <p><%= image_tag "https://kitt.lewagon.com/placeholder/users/jule-tech", class: "avatar profile-pic", alt: "dropdown menu" %></p> <br>
</div>
<div class="card text-center m-4 mt-2 pt-3">
  <p class= "text-show">I am: <%= @profile.first_name %> <%= @profile.last_name %></p> <br>
  <p class= "text-show">I live in: <%= @profile.address %></p>
</div>

<div class= "container text-center">
  <div class= "buttons">
    <%= link_to "Edit profile", edit_profile_path(@profile), class: 'cat-btn cat-btn-cut btn-centered btn btn-warning p-show-buttons' %> <br>
    <%= link_to "Back to homepage", root_path, class: 'cat-btn cat-btn-cut btn-centered btn btn-warning mt-4 p-show-buttons' %>
  </div>
</div>
</div>
