<div class="breed-show-container">
  <div class="breed-card-container">
    <div class="breed-detail-image">
        <%= image_tag(@breed.picture) %>
      </div>
    <div class="breed-image-title">
      <div class="breed-card">
        <h1><%= @breed.name %></h1>
        <h3>Lifespan: <%= @breed.lifespan %></h3>
        <h3>Weight: <%= @breed.weight %> lbs</h3>
        <p><%= @breed.description %></p>
      </div>
    </div>
    <div class="location-button">
      <%= link_to "Find one near me!", sellers_path(:breed_id => @breed.id), class: 'btn' %>
    </div>
  </div>
</div>
