<section class="h-80" style="background-color: rgba(0,0,0,0.4);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://images.unsplash.com/photo-1529472119196-cb724127a98e?q=80&w=1572&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <h2>Log in</h2>

                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :email,
                                required: false,
                                autofocus: true,
                                input_html: { autocomplete: "email" } %>
                    <%= f.input :password,
                                required: false,
                                input_html: { autocomplete: "current-password" } %>
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Log in" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
